#experience {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*    .experience-work-icon-one {
        display: none;
    } */

    .experience-icon-one {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 50px;

        p {
            border-top: 2px solid #C15BBD;
            border-bottom: 2px solid #550EE3;
            border-right: 2px solid #C15BBD;
            border-left: 2px solid #550EE3;
            //   background-image: linear-gradient(#C15BBD, #550EE3);
            //   box-shadow: 5px 5px 7px #1D086C;
            font-size: 1em;
            color: white;
            border-radius: 10px;
            font-weight: 700;
            padding: 1.5em 1em 0 1em;
            height: 50px;
            width: 50px;
            text-align: center;
            //background-color: #C15BBD;
        }
    }

    .experience-container-flex {

        /*     display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
 */
        .experience-container-one {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .experience-title {
                font-size: 2.5em;
                font-weight: 300;
                color: #C15BBD;
                margin: 50px 0;
            }
        }

        /* 
        .experience-gradient-container {
            background-image: linear-gradient(#C15BBD, #550EE3);
            display: flex;
            align-items: flex-end;
            justify-content: end;
            border-radius: 50px;
            padding: 50px 20px 20px 50px;
            margin: 20px;
            height: 250px;
            width: 200px;

            .experience-blue-container {
                background-color: #1D086C;
                height: 150px;
                width: 300px;
                border-radius: 50px;
                color: #c175bf;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 30px;

                p {
                    font-size: 1em;
                    font-weight: 500;
                }
            }
        } */
    }

    /* 
    .experience-icon-two {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        margin: 50px;
        /*  width: 250px;
        height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        margin: 50px; 

        p {
            border-top: 2px solid #C15BBD;
            border-bottom: 2px solid #550EE3;
            border-right: 2px solid #C15BBD;
            border-left: 2px solid #550EE3;
            //   background-image: linear-gradient(#C15BBD, #550EE3);
            //   box-shadow: 5px 5px 7px #1D086C;
            font-size: 1em;
            color: white;
            border-radius: 10px;
            font-weight: 700;
            padding: 1.5em 1em 0 1em;
            height: 50px;
            width: 50px;
            text-align: center;
            //background-color: #C15BBD;
        }

    } */
}

@media screen and (min-width:600px) {
    #experience {
        /* 
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px; */

        .experience-icon-one {
            display: grid;
            column-gap: 50px;
            row-gap: 50px;
            margin-top: 70px;

            /*   display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 10px;
            width: 300px;
            height: 300px; */

            p {
                border-top: 2px solid #C15BBD;
                border-bottom: 2px solid #550EE3;
                border-right: 2px solid #C15BBD;
                border-left: 2px solid #550EE3;
                //   background-image: linear-gradient(#C15BBD, #550EE3);
                //   box-shadow: 5px 5px 7px #1D086C;
                font-size: 1em;
                color: white;
                border-radius: 10px;
                font-weight: 700;
                padding: 1.5em 1em 0 1em;
                height: 50px;
                width: 100px;
                text-align: center;
                //background-color: #C15BBD;
            }

            /*  img {
                width: 70px;
                height: 70px;
            } */
        }

        /*   .experience-icon-two {
            display: none
        } */

        .experience-container-flex {

            /*    .experience-gradient-container {
                width: 300px;

            } */
            .experience-container-one {
                .experience-work-icon-two {

                    width: 100px;
                    height: 100px;
                }

                .experience-title {
                    font-size: 3.5em;



                }
            }
        }
    }
}


@media screen and (min-width:880px) {
    #experience {

        .experience-icon-one {
            grid-template-columns: auto auto auto auto;
        }
    }

    .experience-container-flex {

        .experience-container-one {
            .experience-work-icon-two {

                width: 100px;
                height: 100px;
            }
        }
    }
}

/* 
        margin-top: 200px;

        .experience-work-icon-one {


            display: block;
            width: 100px;
            height: 100px;
            margin-left: 50px;



        }

        .experience-container-one {


            .experience-title {
                font-size: 3em;
                font-weight: 300;

            }
        }

        .experience-container-flex {
            .experience-work-icon-two {
                display: none
            }

        }
    }
} */


@media screen and (min-width:1200px) {


    #experience {

        .experience-icon-one {

            p {

                font-size: 1.2em;
                height: 50px;
                width: 150px;

            }
        }
    }
}

/*
        .experience-icon-one {

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 50px;
            margin: 50px;
            width: 500px;
            height: 500px;

            img {
                width: 100px;
                height: 100px;

            }
        }

        .experience-container-flex {
            .experience-container-one {
                width: 500px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .experience-title {
                    font-size: 3em;
                    font-weight: 400;

                }
            }

            .experience-gradient-container {

                width: 600px;
            }

        }

    }

} */