#navSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    // gap: 2em;
    margin: 1em;

    #burger-menu {
        width: 70px;
        height: 70px;

    }

    #navbar {
        display: none;

    }

    #navbar-mobile {
        display: none;
        //  display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em;
        list-style: none;
        background-color: #DEADFF;
        color: black;

        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 150px;
        height: 100vh;
        z-index: 1000;
        transition: right 0.5s ease;


        a {
            text-decoration: none;
            color: black;

        }

        a:visited {
            color: black;
        }
    }
}

@media screen and (min-width:800px) {

    #navSection {
        gap: 5em;

        #burger-menu {
            display: none;
        }

        #navbar {
            display: inline-block;

            a {
                text-decoration: none;
                color: #DEADFF;
                font-size: 1.5em;
                font-weight: 800;
                margin: 0.5em;
            }

            a:hover {
                color: #C15BBD;
                font-size: 1.5em;
                font-weight: 800;
            }

            a::after {
                color: #DEADFF;
            }


        }

    }

}


@media screen and (min-width:880px) {

    #navSection {

        #navbar {
            margin: 50px;


        }

        /*      .sticky {
            margin: 0;
            position: fixed;
            top: 0;
            right: 0;
            //  margin-left: 200px;
            // height: 55%;
            // border: 1px solid red;
            // background-color: #550ee365;
            border-radius: 20px;
            margin-left: 10px;

        } */
    }
}

// @media screen and (min-width:1200px) {
//     #navSection {
//         #namePhoto {
//             width: 800px;
//             height: 800px;

//             #headshot {
//                 width: 600px;
//                 height: 600px;
//             }
//         }

//         nav {
//             .hiddenMenuIcon {
//                 img {
//                     width: 150px;
//                     height: 150px;
//                 }


//             }
//         }
//     }

// }