@use 'header.scss';
@use 'about-me.scss';
@use 'experience.scss';
@use 'past-experience.scss';
@use 'contact.scss';

* {
    padding: 0;
    margin: 0;

}

body {
    font-family: "Inconsolata", monospace;
    background-image: linear-gradient(#080450, #1a1a1a);
    background-repeat: no-repeat;
    overflow-x: hidden;
}